## Data Cleaning

In [74]:
import pandas as pd
import os

In [75]:
# Creating Directory Cleaned data for storing cleaned data

directory_path = "Cleaned data"
os.makedirs(directory_path, exist_ok=True)

 ### Target

 #### S&P/Case-Shiller U.S. National Home Price Index

In [76]:
# Reading target data
target = pd.read_csv("data/CSUSHPINSA.csv")

In [77]:
target.head()

         DATE  CSUSHPINSA
0  1987-01-01      63.735
1  1987-02-01      64.135
2  1987-03-01      64.470
3  1987-04-01      64.973
4  1987-05-01      65.547

In [78]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01".

target.set_index('DATE', inplace =True)
target.rename(columns= {'CSUSHPINSA': 'target'}, inplace =True)
target.index = pd.to_datetime(target.index)
target = target["1987-01-01":"2023-07-01"]

In [79]:
target.shape

(439, 1)

In [80]:
target.to_csv("Cleaned data/target.csv")

### Population

#### Population includes resident population plus armed forces overseas.

In [81]:
population = pd.read_csv('data/POPTHM.csv')

In [82]:
population.head()

         DATE    POPTHM
0  1987-01-01  241857.0
1  1987-02-01  242005.0
2  1987-03-01  242166.0
3  1987-04-01  242338.0
4  1987-05-01  242516.0

In [83]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01".

population.set_index('DATE', inplace =True)
population.rename(columns= {'POPTHM': 'population'}, inplace =True)
population.index = pd.to_datetime(population.index)
population = population["1987-01-01":"2023-07-01"]

In [84]:
population.shape

(439, 1)

In [85]:
population.to_csv('Cleaned data/population.csv')

### Personal Income

#### Income that persons receive in return for their provision of labor, land, and capital used in current production and the net current transfer payments that they receive from business and from government.

In [86]:
income = pd.read_csv('data/PI.csv')

In [87]:
income.head()

         DATE      PI
0  1987-01-01  3820.2
1  1987-02-01  3845.0
2  1987-03-01  3863.8
3  1987-04-01  3875.4
4  1987-05-01  3908.6

In [88]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

income.set_index('DATE', inplace =True)
income.rename(columns= {'PI': 'income'}, inplace =True)
income.index = pd.to_datetime(income.index)
income = income["1987-01-01":"2023-07-01"]

In [89]:
income.shape

(439, 1)

In [90]:
income.to_csv("Cleaned data/income.csv")

### Gross Domestic Product

#### Featured measure of U.S. output, is the market value of the goods and services produced by labor and property located in the United States.

In [91]:
gdp = pd.read_csv("data/GDP.csv")

In [92]:
gdp.head()

         DATE       GDP
0  1987-01-01  4722.156
1  1987-04-01  4806.160
2  1987-07-01  4884.555
3  1987-10-01  5007.994
4  1988-01-01  5073.372

In [93]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

gdp.set_index('DATE', inplace =True)
gdp.index = pd.to_datetime(gdp.index)

# Resampling
gdp = gdp.resample('M').ffill()

# # Set the day of the index to 1
gdp.index = gdp.index.map(lambda x: x.replace(day=1))
gdp = gdp["1987-01-01":"2023-07-01"]

In [94]:
gdp.shape

(439, 1)

In [95]:
gdp.to_csv("Cleaned data/gdp.csv")

### Unemployment Rate

#### The unemployment rate represents the number of unemployed as a percentage of the labor force. (16 years age or above)

In [96]:
unemployed_rate = pd.read_csv('data/UNRATE.csv')

In [97]:
unemployed_rate.head()

         DATE  UNRATE
0  1987-01-01     6.6
1  1987-02-01     6.6
2  1987-03-01     6.6
3  1987-04-01     6.3
4  1987-05-01     6.3

In [98]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

unemployed_rate.set_index('DATE', inplace =True)
unemployed_rate.rename(columns= {'UNRATE': 'unemployed_rate'}, inplace =True)
unemployed_rate.index = pd.to_datetime(unemployed_rate.index)
unemployed_rate = unemployed_rate["1987-01-01":"2023-07-01"]

In [99]:
unemployed_rate.shape

(439, 1)

In [100]:
unemployed_rate.to_csv("Cleaned data/unemployed_rate.csv")

### Mortgage Rate

#### A mortgage rate is the interest rate charged for a home loan.(Percentage)

In [101]:
mortgage =pd.read_csv("data/MORTGAGE30US.csv")

In [102]:
mortgage.head()

         DATE  MORTGAGE30US
0  1987-01-01        9.2040
1  1987-02-01        9.0825
2  1987-03-01        9.0350
3  1987-04-01        9.8325
4  1987-05-01       10.5960

In [103]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

mortgage.set_index('DATE', inplace =True)
mortgage.rename(columns= {'MORTGAGE30US': 'mortgage_rate'}, inplace =True)
mortgage.index = pd.to_datetime(mortgage.index)
mortgage = mortgage["1987-01-01":"2023-07-01"]

In [104]:
mortgage.shape

(439, 1)

In [105]:
mortgage.to_csv("Cleaned data/mortgage.csv")

### Employment-Population Ratio (emratio)

In [106]:
emratio = pd.read_csv("data/EMRATIO.csv")

In [107]:
emratio.head()

         DATE  EMRATIO
0  1987-01-01     61.0
1  1987-02-01     61.1
2  1987-03-01     61.2
3  1987-04-01     61.3
4  1987-05-01     61.6

In [108]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

emratio.set_index('DATE', inplace =True)
emratio.rename(columns= {'EMRATIO': 'emratio'}, inplace =True)
emratio.index = pd.to_datetime(emratio.index)
emratio = emratio["1987-01-01":"2023-07-01"]

In [109]:
emratio.shape

(439, 1)

In [110]:
emratio.to_csv("Cleaned data/emratio.csv")

### Building Construction issued permit in US (Total Units)

In [111]:
permit = pd.read_csv("data/PERMIT.csv")

In [112]:
permit.head()

         DATE  PERMIT
0  1987-01-01  1690.0
1  1987-02-01  1689.0
2  1987-03-01  1704.0
3  1987-04-01  1601.0
4  1987-05-01  1500.0

In [113]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

permit.set_index('DATE', inplace =True)
permit.rename(columns= {'PERMIT': 'permit'}, inplace =True)
permit.index = pd.to_datetime(permit.index)
permit = permit["1987-01-01":"2023-07-01"]

In [114]:
permit.shape

(439, 1)

In [115]:
permit.to_csv("Cleaned data/permit.csv")

### Labor Force Participation Rate

#### The participation rate is the percentage of the population that is either working or actively looking for work.

In [116]:
labor_percent = pd.read_csv("data/CIVPART.csv")

In [117]:
labor_percent.head()

         DATE  CIVPART
0  1987-01-01     65.4
1  1987-02-01     65.5
2  1987-03-01     65.5
3  1987-04-01     65.4
4  1987-05-01     65.7

In [118]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

labor_percent.set_index('DATE', inplace =True)
labor_percent.rename(columns= {'CIVPART': 'labor_percent'}, inplace =True)
labor_percent.index = pd.to_datetime(labor_percent.index)
labor_percent = labor_percent["1987-01-01":"2023-07-01"]

In [119]:
labor_percent.shape

(439, 1)

In [120]:
labor_percent.to_csv("Cleaned data/labor_percent.csv")

### Monthly Supply of New Houses in the United States

#### The monthy supply is the ratio of new houses for sale to new houses sold.

In [121]:
monthly_supply = pd.read_csv("data/MSACSR.csv")

In [122]:
monthly_supply.head()

         DATE  MSACSR
0  1987-01-01     6.0
1  1987-02-01     6.2
2  1987-03-01     6.0
3  1987-04-01     6.0
4  1987-05-01     6.7

In [123]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

monthly_supply.set_index('DATE', inplace =True)
monthly_supply.rename(columns= {'MSACSR': 'monthly_supply'}, inplace =True)
monthly_supply.index = pd.to_datetime(monthly_supply.index)
monthly_supply = monthly_supply["1987-01-01":"2023-07-01"]

In [124]:
monthly_supply.shape

(439, 1)

In [125]:
monthly_supply.to_csv("Cleaned data/monthly_supply.csv")

### Housing starts (New Housing Project)

#### This is a measure of the number of units of new housing projects started in a given period.

In [126]:
House_starts = pd.read_csv("data/HOUST.csv")

In [127]:
House_starts.head()

         DATE   HOUST
0  1987-01-01  1774.0
1  1987-02-01  1784.0
2  1987-03-01  1726.0
3  1987-04-01  1614.0
4  1987-05-01  1628.0

In [128]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

House_starts.set_index('DATE', inplace =True)
House_starts.rename(columns= {'HOUST': 'house_st'}, inplace =True)
House_starts.index = pd.to_datetime(House_starts.index)
House_starts = House_starts["1987-01-01":"2023-07-01"]

In [129]:
House_starts.shape

(439, 1)

In [130]:
House_starts.to_csv("Cleaned data/House_starts.csv")

### Median Sales Price.

#### Median Sales Price of Houses Sold for the United States.(US Dollers)

In [131]:
MSPUS = pd.read_csv("data/MSPUS.csv")

In [132]:
MSPUS.head()

         DATE     MSPUS
0  1987-01-01   97900.0
1  1987-04-01  103400.0
2  1987-07-01  106000.0
3  1987-10-01  111500.0
4  1988-01-01  110000.0

In [133]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

MSPUS.set_index('DATE', inplace =True)
MSPUS.index = pd.to_datetime(MSPUS.index)

# Resampling
MSPUS = MSPUS.resample('M').ffill()

# # Set the day of the index to 1
MSPUS.index = MSPUS.index.map(lambda x: x.replace(day=1))
MSPUS = MSPUS["1987-01-01":"2023-07-01"]

In [134]:
MSPUS.shape

(439, 1)

In [135]:
MSPUS.to_csv("Cleaned data/MSPUS.csv")

### Producer Price Index -Cement Manufacturing

In [136]:
PPI_Cement = pd.read_csv("data/PCU327310327310.csv")

In [137]:
PPI_Cement.head()

         DATE  PCU327310327310
0  1987-01-01            100.1
1  1987-02-01            100.8
2  1987-03-01            101.2
3  1987-04-01            100.8
4  1987-05-01            101.2

In [138]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

PPI_Cement.set_index('DATE', inplace =True)
PPI_Cement.rename(columns= {'PCU327310327310': 'PPI_Cement'}, inplace =True)
PPI_Cement.index = pd.to_datetime(PPI_Cement.index)
PPI_Cement = PPI_Cement["1987-01-01":"2023-07-01"]

In [139]:
PPI_Cement.shape

(439, 1)

In [140]:
PPI_Cement.to_csv("Cleaned data/PPI_Cement.csv")

### Producer Price Index by Industry: Concrete Brick

In [141]:
PPI_Concrete = pd.read_csv("data/PCU32733132733106.csv")

In [142]:
PPI_Concrete.head()

         DATE  PCU32733132733106
0  1987-01-01              109.3
1  1987-02-01              109.3
2  1987-03-01              109.3
3  1987-04-01              109.3
4  1987-05-01              108.7

In [143]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

PPI_Concrete.set_index('DATE', inplace =True)
PPI_Concrete.rename(columns= {'PCU32733132733106': 'PPI_Concrete'}, inplace =True)
PPI_Concrete.index = pd.to_datetime(PPI_Concrete.index)
PPI_Concrete = PPI_Concrete["1987-01-01":"2023-07-01"]

In [144]:
PPI_Concrete.shape

(439, 1)

In [145]:
PPI_Concrete.to_csv("Cleaned data/PPI_Concrete.csv")

### All Employees, Residential Building Construction (Thousands of Peoples)

#### Construction employees in the construction sector include: Working supervisors, qualified craft workers, mechanics, apprentices, helpers, laborers, and so forth, engaged in new work, alterations, demolition, repair, maintenance etc.

In [146]:
all_Const_Emp = pd.read_csv("data/CES2023610001.csv")

In [147]:
all_Const_Emp.head()

         DATE  CES2023610001
0  1987-01-01          722.3
1  1987-02-01          724.2
2  1987-03-01          727.9
3  1987-04-01          728.1
4  1987-05-01          727.6

In [148]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

all_Const_Emp.set_index('DATE', inplace =True)
all_Const_Emp.rename(columns= {'CES2023610001': 'all_Const_Emp'}, inplace =True)
all_Const_Emp.index = pd.to_datetime(all_Const_Emp.index)
all_Const_Emp = all_Const_Emp["1987-01-01":"2023-07-01"]

In [149]:
all_Const_Emp.shape

(439, 1)

In [150]:
all_Const_Emp.to_csv("Cleaned data/all_Const_Emp.csv")

### All Employees, Construction (Thousands of persons)

#### Construction employees in the construction sector include: Working supervisors, qualified craft workers, mechanics, apprentices, helpers, laborers, and so forth, engaged in new work, alterations, demolition, repair, maintenance.

In [151]:
total_emp_cons = pd.read_csv("data/USCONS.csv")

In [152]:
total_emp_cons.head()

         DATE  USCONS
0  1939-01-01    1139
1  1939-02-01    1162
2  1939-03-01    1225
3  1939-04-01    1249
4  1939-05-01    1262

In [153]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

total_emp_cons.set_index('DATE', inplace =True)
total_emp_cons.rename(columns= {'USCONS': 'total_emp_cons'}, inplace =True)
total_emp_cons.index = pd.to_datetime(total_emp_cons.index)
total_emp_cons = total_emp_cons["1987-01-01":"2023-07-01"]

In [154]:
total_emp_cons.shape

(439, 1)

In [155]:
total_emp_cons.to_csv("Cleaned data/total_emp_cons.csv")

### Industrial Production: Cement

#### The industrial production (IP) index measures the real output of all relevant establishments located in the United States

In [156]:
IPI_Cement = pd.read_csv("data/IPN32731S.csv")

In [157]:
IPI_Cement.head()

         DATE  IPN32731S
0  1987-01-01   123.7373
1  1987-02-01   123.1670
2  1987-03-01   122.5706
3  1987-04-01   123.5345
4  1987-05-01   123.8454

In [158]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

IPI_Cement.set_index('DATE', inplace =True)
IPI_Cement.rename(columns= {'IPN32731S': 'IPI_Cement'}, inplace =True)
IPI_Cement.index = pd.to_datetime(IPI_Cement.index)
IPI_Cement = IPI_Cement["1987-01-01":"2023-07-01"]

In [159]:
IPI_Cement.shape

(439, 1)

In [160]:
IPI_Cement.to_csv("Cleaned data/IPI_Cement.csv")

### Homeownership Rate (Percentage)

#### The homeownership rate is the proportion of households that is owner-occupied.

In [161]:
home_ow_rate = pd.read_csv("data/RSAHORUSQ156S.csv")

In [162]:
home_ow_rate.head()

         DATE  RSAHORUSQ156S
0  1987-01-01           63.9
1  1987-04-01           63.9
2  1987-07-01           64.1
3  1987-10-01           64.1
4  1988-01-01           63.8

In [163]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

home_ow_rate.set_index('DATE', inplace =True)
home_ow_rate.index = pd.to_datetime(home_ow_rate.index)
home_ow_rate.rename(columns= {'RSAHORUSQ156S': 'home_ow_rate'}, inplace =True)

# Resampling
home_ow_rate = home_ow_rate.resample('M').ffill()

# # Set the day of the index to 1
home_ow_rate.index = home_ow_rate.index.map(lambda x: x.replace(day=1))
home_ow_rate = home_ow_rate["1987-01-01":"2023-07-01"]

In [164]:
home_ow_rate.shape

(439, 1)

In [165]:
home_ow_rate.to_csv("Cleaned data/home_ow_rate.csv")

### Personal Saving Rate (Percent)

#### Personal saving as a percentage of disposable personal income (DPI), frequently referred to as "the personal saving rate," is calculated as the ratio of personal saving to DPI. Personal income that is used either to provide funds to capital markets or to invest in real assets such as residences.

In [166]:
p_saving_rate =pd.read_csv("data/PSAVERT.csv")

In [167]:
p_saving_rate.head()

         DATE  PSAVERT
0  1987-01-01      9.4
1  1987-02-01      8.2
2  1987-03-01      8.1
3  1987-04-01      4.1
4  1987-05-01      7.8

In [168]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

p_saving_rate.set_index('DATE', inplace =True)
p_saving_rate.rename(columns= {'PSAVERT': 'p_saving_rate'}, inplace =True)
p_saving_rate.index = pd.to_datetime(p_saving_rate.index)
p_saving_rate = p_saving_rate["1987-01-01":"2023-07-01"]

In [169]:
p_saving_rate.shape

(439, 1)

In [170]:
p_saving_rate.to_csv("Cleaned data/p_saving_rate.csv")

### New Privately-Owned Housing Construction Completed: (Total units in thousands)

In [171]:
new_private_house = pd.read_csv("data/COMPUTSA.csv")

In [172]:
new_private_house.head()

         DATE  COMPUTSA
0  1987-01-01    1862.0
1  1987-02-01    1771.0
2  1987-03-01    1694.0
3  1987-04-01    1735.0
4  1987-05-01    1713.0

In [173]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

new_private_house.set_index('DATE', inplace =True)
new_private_house.rename(columns= {'COMPUTSA': 'new_private_house'}, inplace =True)
new_private_house.index = pd.to_datetime(new_private_house.index)
new_private_house = new_private_house["1987-01-01":"2023-07-01"]

In [174]:
new_private_house.shape

(439, 1)

In [175]:
new_private_house.to_csv("Cleaned data/new_private_house.csv")

### New Privately-Owned Housing Units Under Construction: Total Units in thousands

In [176]:
new_private_hw_under = pd.read_csv("data/UNDCONTSA.csv")

In [177]:
new_private_hw_under.head()

         DATE  UNDCONTSA
0  1987-01-01     1090.0
1  1987-02-01     1096.0
2  1987-03-01     1084.0
3  1987-04-01     1079.0
4  1987-05-01     1070.0

In [178]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data from "1987-01-01":"2023-07-01"

new_private_hw_under.set_index('DATE', inplace =True)
new_private_hw_under.rename(columns= {'UNDCONTSA': 'new_private_hw_under'}, inplace =True)
new_private_hw_under.index = pd.to_datetime(new_private_hw_under.index)
new_private_hw_under = new_private_hw_under["1987-01-01":"2023-07-01"]

In [179]:
new_private_hw_under.shape

(439, 1)

In [181]:
new_private_hw_under.to_csv("Cleaned data/new_private_hw_under.csv")